<div class="wrapper">
    <aside id="leftsidebar">
       <section class="sidebar sidebar_left">

       </section>
    </aside>
    
    <div class="content-wrapper">
       <section class="content page_inner_wrapper ">
          <div class="container-fluid">
             <div class="row clearfix ">
                <!-- Basic Examples -->
                <div class="col-lg-12">
                   <div class="card">
                      <div class="header">
                         <h2 style="display: inline;" class="pull-left" >Title</h2>
                         <div class="clearfix"></div>
                         <ol class="breadcmb_wrap_ol breadcrumb pull-left" style="display: inline;">
                            
                         </ol>
                         <div class="clearfix"></div>
                      </div>
                      <div class="body">
                         
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
    
 </div>